# For Loops

- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.- 

- Here's the general format for a <code>for</code> loop in Python:

for item in object:

    statements

In [1]:
# Print num in a list:

num=[1,3,4,5,6]

for i in num:
    print(i)

1
3
4
5
6

In [5]:
my_list=[1,4,6,8,9,10,20,12]
print(my_list)

for m in my_list:
    print(m)

[1, 4, 6, 8, 9, 10, 20, 12]
1
4
6
8
9
10
20
12

Here, `num` is the variable that takes the value of the item inside the sequence on each iteration.

In [6]:
# The variable name can be anything of choice Lets see

In [7]:
my_list=[1,4,5,6,8,99]

for bob in my_list:
    print(bob)

1
4
5
6
8
99

In [8]:
for name in my_list:
    print("hello")

hello
hello
hello
hello
hello
hello

Now let's add an <code>if</code> statement to check for even numbers. We'll first introduce a new concept here--the modulo.

### Modulo
The modulo allows us to get the remainder in a division and uses the % symbol. For example:

In [10]:
21%4

1

21 divided by 4 remainder is 1.

In [11]:
# 3 Remainder 1

21 % 3

0

In [12]:
## 2 no remainder

4 % 2

0

Here we can see if a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

## Example

In [13]:
new_list=[1,4,5,6,8,9,10,12,4,5,14]

In [20]:
new_list

[1, 4, 5, 6, 8, 9, 10, 12, 4, 5, 14]

In [23]:
for i in new_list:
    if i % 2==0:
        print(i)

4
6
8
10
12
4
14

In [18]:
for i in new_list:
    if i%2==1:
        print(i)

1
5
9
5

We could have also put an else statement in there:

In [24]:
_list=[1,3,7,9,4,5,7,9]

for num in _list:
    if num%2==0:
        print("It is even")
    else:
        print(f"odd number",num)

odd number 1
odd number 3
odd number 7
odd number 9
It is even
odd number 5
odd number 7
odd number 9

###  let's create a <code>for</code> loop that sums up the list:

In [13]:
# start sum at 0

list_sum=0

for num in new_list:
    list_sum=list_sum + num
    
print(list_sum)

36

Method  <code>+=</code> to perform the addition towards the sum. For example:

In [49]:
# Start sum at zero

list_sum = 0 

for i in new_list:
    list_sum += i

print(list_sum)

122

## Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:

In [50]:
for x in "HELLO":
    print(x)

H
E
L
L
O

## <code>for</code> loop can be used with a tuple:

In [52]:
tup=(1,2,4,5,6)

for i in tup:
    print(i)

1
2
4
5
6

In [28]:
# # # # QUIZ
list1=["shubham",12,"sdsd",2222,333,3,5,6,7,"ddd"]
for items in list1:
    if str(items).isnumeric() and items>=6:
        print(items)

12
2222
333
6
7

## Example 

Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [53]:
list2 = [(1,4),(3,8),(13,12)]

In [54]:
list2

[(1, 4), (3, 8), (13, 12)]

In [55]:
for tup in list2:
    print(tup)

(1, 4)
(3, 8)
(13, 12)

In [56]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

1
3
13

In [57]:
for(t1,t2)in list2:
    print(t2)

4
8
12

## <code>for</code> loop can be used with a dictionary:

In [69]:
dic={'k1':'new','k2':'dict'}

In [70]:
dic

{'k1': 'new', 'k2': 'dict'}

In [71]:
for item in dic:
    print(item)

k1
k2

Three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary – it is only a view. :

In [72]:
dic.keys()

dict_keys(['k1', 'k2'])

In [73]:
dic.items()

dict_items([('k1', 'new'), ('k2', 'dict')])

In [74]:
dic.values()

dict_values(['new', 'dict'])

### item method

In [76]:
for m,n in dic.items():
    print(m)
    print(n)

k1
new
k2
dict

In [81]:
print(dic.keys())

dict_keys(['k1', 'k2'])

Remember that dictionaries are unordered, and that keys and values come back in arbitrary order. You can obtain a sorted list using sorted():

In [82]:
sorted(dic.values())

['dict', 'new']

## The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [86]:
letter=['a','b','c']

for i in letter:
    print(i)
    if i=="b":
        break
        
# Exit the loop when i is "b":

a
b

## The continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [87]:
vowel=['a','e','i','o','u']

In [88]:
vowel

['a', 'e', 'i', 'o', 'u']

In [92]:
for x in vowel:
    if(x=="e"):
        continue
    print(x)

a
i
o
u

### The range() Function

To loop through a set of code a specified number of times, we can use the `range()` function,
The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

* range(10) will generate numbers from 0 to 9 (10 numbers).
* it is not an iterator since it supports `in`, `len` and `__getitem__` operations.

In [97]:
print(range(10))

range(0, 10)

In [93]:
for x in range(6):
    print(x)

0
1
2
3
4
5

Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

In [94]:
# Using the start parameter:

for x in range(2, 6):
    print(x)

2
3
4
5

In [96]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 20, 3):
    print(x)

2
5
8
11
14
17

In [5]:
print(range(10))

range(0, 10)

In [4]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
print(list(range(2, 8)))

[2, 3, 4, 5, 6, 7]

In [7]:
print(list(range(2,20,4)))

[2, 6, 10, 14, 18]

In [8]:
letter=['a','b','c','d']

In [9]:
letter

['a', 'b', 'c', 'd']

In [12]:
for i in range(len(letter)):
    print(letter[i])

a
b
c
d

## Else in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [13]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

## Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [18]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [2]:
for x in [0, 1, 2]:
    pass

In [3]:
for x in [0, 1, 2]:
    pass
print("End of the loop")

End of the loop