## List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List Comprehensions are a unique way of quickly creating a list with python.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets

In [7]:
mystring="hello"

In [8]:
mylist=[]

for a in mystring:
    mylist.append(a)

In [26]:
# check

mylist

['w', 'e', 'l', 'c', 'o', 'm', 'e']

here is the code which is use to append the mylist but it is three lines of code but using `list comprehensions` we can do it in `one line` of code lets see

## Example 1

In [16]:
mystring="hello"

In [22]:
# Grab every letter in string

mylist=[a for a in mystring]

In [18]:
mylist

['h', 'e', 'l', 'l', 'o']

Here we can see we can do it by in one line

## Example 2

In [24]:
# Grab every letter in string

mylist=[x for x in "welcome"]

In [25]:
# check

mylist

['w', 'e', 'l', 'c', 'o', 'm', 'e']

## Example 3

In [27]:
# print the number from o to 10

list=[no for no in range(0,11)]

In [28]:
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Example 4

In [29]:
# Square numbers in range and turn into list

lst = [x**2 for x in range(0,11)]

In [30]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 5
Let's see how to add in <code>if</code> statements:

In [33]:
lst=[x for x in range(11) if x % 2== 0]

In [35]:
lst

[0, 2, 4, 6, 8, 10]

## Example 4
more complicated arithmetic:

In [40]:
cel = [0,10,20,30]

fahr = [((9/5)*temp + 32) for temp in cel]

In [41]:
fahr

[32.0, 50.0, 68.0, 86.0]

## Example 5
We can also perform nested list comprehensions, for example:

In [43]:
lst = [ x*2 for x in [x*2 for x in range(11)]]
lst

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [47]:
list=[]

for x in [2,4,6]:
    for y in [10,20,30]:
        list.append(x*y)

In [48]:
list

[20, 40, 60, 40, 80, 120, 60, 120, 180]

In [49]:
list=[x*y for x in [2,4,6] for y in [10,20,30]]

In [50]:
list

[20, 40, 60, 40, 80, 120, 60, 120, 180]