# Tuples

In Python tuples are very similar to lists, however, lists are *mutable*  Tuples are `immutable` meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

A `tuple` is a collection which is ordered and unchangeable. 

In Python tuples are written with round brackets (1,2,3)

    1.) Constructing Tuples
    2.) Range of Indexes
    3.) Basic Tuple Methods
    4.) Immutability
    5.) Change Tuple Values
    6.) Loop Through a Tuple

## 1. Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [1]:
# Create a tuple

t = (1,2,3)

In [2]:
t

(1, 2, 3)

In [3]:
# Check len just like a list

len(t)

3

In [4]:
# Can also mix object types

t = ('one',2)

# Show

t

('one', 2)

In [8]:
# Slicing just like a list

t[0]

'one'

In [9]:
# Slicing just like a list

t[-2]

'one'

In [10]:
# Slicing just like a list

t[1]

2

In [13]:
# Slicing just like a list

t[-1]

2

## 2. Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

In [19]:
#"apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"

#  0          1         2         3       4        5        6

In [14]:
# create a list

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

('cherry', 'orange', 'kiwi')

In [ ]:
#check

print(thistuple[2:5])

In [15]:
# create a tuple

tu=(1,3,4,4)

In [16]:
# check

tu

(1, 3, 4, 4)

In [17]:
# indexing  

print(tu[1:3])

(3, 4)

### Range of Negative Indexes

In [20]:
#"apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"

#  0        -6        -5       -4        -3      -2       -1

In [23]:
# create a tuple

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [25]:
# check

print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [27]:
print(thistuple[0:-4])

('apple', 'banana', 'cherry')

## 3. Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do.

In [31]:
# create a tuple

t=('a','b','c','a')

In [32]:
# check

t

('a', 'b', 'c', 'a')

In [34]:
# Use .count to count the number of times a value appears here a appears 2 times 

t.count('a')

2

In [36]:
# Use .index to enter a value and return the index.

t.index('b')

1

In [37]:
t.index('c')

2

## 4. Immutability

### Tuples are immutable. we will see it by example

In [39]:
# first we will se the list which is mutable which means we can make changes

# create a list

li=[1,3,4]

In [40]:
# indexing 

li[1]

3

In [41]:
# replace the value in index 1 with 'new' variable

li[1]="new"

In [43]:
# so here we can see here we can make changes in the list because it is mutable 

print(li)

[1, 'new', 4]

### Lets see the tuples which is immutable

In [44]:
# create a tuple

tup=(1,2,3)

In [45]:
tup

(1, 2, 3)

In [46]:
tup[1]

2

In [47]:
tup[1]="new"

TypeError: 'tuple' object does not support item assignment

#### Here we can see we cannot make changes in the `tuple` because it is `immutable` which means  *we cannot make changes*.

## 5. Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [49]:
# create a tuple

x = ("bob", "alice", "jack")

In [50]:
# convert the tuple into list

y = list(x)

In [51]:
y[1]

'alice'

In [52]:
y[1]="smith"

In [53]:
# convert y into tuple

x = tuple(y)

In [55]:
# here we can se we can make changes in the tuple but first have to convert it into list

print(x)

('bob', 'smith', 'jack')

## 6. Loop Through a Tuple

**You can loop through the tuple items by using a for loop.**

In [48]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

## Join Two Tuples

To join two or more tuples you can use the `+` operator:

In [56]:
# create a tuple1

tuple1=('a','b','c')

In [57]:
# create a tuple 2

tuple2=(1,2,3)

In [60]:
# Adding the tuple1 and tuple 2

tuple_new = tuple1 + tuple2

In [59]:
# check

tuple_new

('a', 'b', 'c', 1, 2, 3)

## The tuple() Constructor

It is also possible to use the **tuple()** constructor to make a tuple.

In [61]:
# create a tuple using tuple constructor

t1=tuple(('apple','mango','orange'))

In [62]:
print(t1)

('apple', 'mango', 'orange')

## When to use Tuples
You may be wondering, "Why bother using tuples when they have fewer available methods?" tuples are not used as often as lists in programming, but are used when immutability is necessary.

If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.