## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function.

In [1]:
x = set()

### Add() items

In [2]:
# We add to sets with the add() method

x.add(1)

In [3]:
# show

x

{1}

In [4]:
# We add a different element

x.add(2)

In [5]:
x

{1, 2}

In [6]:
# Try to add the same element

x.add(1)

In [7]:
x

{1, 2}

In [8]:
x.add(3)

In [9]:
x

{1, 2, 3}

In [10]:
x.add(2)

In [11]:
x

{1, 2, 3}

here it won't place another 1 there. That's because a set is only concerned with `unique` elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [14]:
# Create a list with repeats

list_set = [1,1,1,1,2,2,2,3,4,5,6,1]

In [15]:
# here we can see that there are unique values 

set(list_set)

{1, 2, 3, 4, 5, 6}

### update()

In [17]:
thisset = {"apple", "banana", "cherry"}

In [18]:
thisset.update(["orange", "mango", "grapes"])

In [19]:
print(thisset)

{'apple', 'mango', 'orange', 'cherry', 'grapes', 'banana'}

In [36]:
new_set={1,3,4}

In [37]:
new_set

{1, 3, 4}

In [40]:
new_set.update(['a','v','b'])

In [41]:
print(new_set)

{1, 3, 4, 'b', 'a', 'v'}

### len()

To determine how many items a set has, use the `len()` method.

In [42]:
thisset=(1,2,3,4)

In [44]:
print(len(thisset))

4

### Remove item

To remove an item in a set, use the **remove()**, or the **discard()** method.

In [49]:
# create a set

thisset = {"apple", "banana", "cherry"}

# remove the element banana

thisset.remove("banana")

{'apple', 'cherry'}

In [52]:
# show

print(thisset)

{'banana', 'cherry'}

In [54]:
# create a set

thisset = {"1", "2", "3"}

# discard the element 3

thisset.discard("3")

{'2', '1'}

In [55]:
#show

print(thisset)

{'2', '1'}

## pop()

Remove the last item by using the `pop()` method:

In [56]:
# create a set

se={"a","b","c"}

In [57]:
# show

print(se)

{'a', 'b', 'c'}

In [58]:
# Remove the last element

se.pop()

'c'

In [59]:
# show

print(se)

{'a', 'b'}

## Join Two Sets
There are several ways to join two or more sets in Python.

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

In [61]:
set1 = {"a", "b" , "c"}

In [62]:
set2 = {1, 2, 3}

In [63]:
set3 = set1.union(set2)

In [64]:
print(set3)

{'c', 1, 2, 'b', 'a', 3}

## The set() Constructor

It is also possible to use the set() constructor to make a set.

In [69]:
set1 = set(("apple", "banana", "cherry")) # note the double round-brackets

In [70]:
print(set1)

{'apple', 'banana', 'cherry'}