## 1) Types of numbers


- Integers are just whole numbers, positive or negative.

- Python has various "types" of numbers (numeric literals). that are the `integers` and `floating point numbers`.

- Integers are just whole numbers, positive or negative. **For example: 4 and -5 are examples of integers.**

- Floating point numbers in Python are notable because they have a **decimal point** in them.


**Example of floating point number in Python.**

Decimal points(Floating point): **2.5, 5.5, 6.5, 7.55**

| Examples        |  Number "Data Type"   |
|-----------------|-----------------------|
| 4,7,-5,4000     | Integers              |
|||
|4.2,-0.5,2e2,3E2 | Floating-point numbers|

### Python as basic calculator

In [1]:
# Addition of two number


print(5+5)

10

In [2]:
# Substraction of two numbers

print(10-2)

8

In [3]:
# Multiplicaion of two numbers

print(5*5)

25

In [4]:
# Division of two numbers

print(20/5)

4.0

In [5]:
# Floor division

print(20//5)

4

### Difference between division and floor division 

The reason we get this result is because we are using `floor` division. The `**//**` operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

Division gives the output in Decimal format while floor division gives the output in number format

In [6]:
# Modulo which can also called as remainder


print(21%2)

# when we divide the number 21 by 2 we get the remainder is 1

1

In [8]:
print(30%2)

# Here remainder is 0 when we divide 30 by 2

0

In [9]:
# Exponential or powers

# which can also called as cube of 2.
# There are two methods to find cube (2*2*2) and second is (2**3)

print(2*2*2)


print(2**3)

8
8

In [10]:
# Square root

print(4*0.5)

2.0

In [11]:
1/2

0.5

In [12]:
print(4*1/2)

2.0

### These are the basic arithmatic methods that can be used in python

In [13]:
# Basic operators in python


print(4+5*4+5)

# here it will first multiply the values and then add it

29

In [14]:
4+20+5

29

In [15]:
# Use of brackets 


print((4+5)*(4+5))

81

In [37]:
# Here we can see the results first it will solve the brackets and then multiply the values

In [18]:
n=1_3_455_667

print(n)

13455667

In [17]:
type(n)

int